.Header {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
}

.Header__link {
  color: rgb(209, 217, 224);
  font-weight: 500;
  font-size: 24px;
  margin-right: 32px;
  transition: color .3s ease;
}
.Header__link:hover {
  color: white;
}